<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="myGallery" type="TestProject.App_Code.ProviderFeatureSection,MyGallery"/>
  </configSections>

  <connectionStrings>
    <add name="Sql" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=UserDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>




  <!--<myGallery defaultProvider="MyGalleryProviderSql">
    <providers>

      <add name="MyGalleryProviderSql" type="TestProject.Content.MyGalleryProviderSql, MyGallery"   />


    </providers>
  </myGallery>-->

 
  <myGallery defaultProvider="MyGalleryWcfProvider">
    <providers>

      <add name="MyGalleryWcfProvider" type="TestProject.App_Code.MyGalleryWcfProvider, MyGallery"   />
    </providers>
  </myGallery>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_GalleryService" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="200000000" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMyGalleryProvider" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7219/MyGalleryService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMyGalleryProvider"
        contract="GalleryServiceReference.IMyGalleryProvider" name="BasicHttpBinding_IMyGalleryProvider" />
    </client>
  </system.serviceModel>

 
   

   

    <system.web>
      <membership defaultProvider="MyMembershipProvider">
        <providers>
          <add name="MyMembershipProvider" type="TestProject.App_Code.MyMembershipProvider" connectioStringName="Sql" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" requiresUniqueEmail="true"/>
        </providers>
      </membership>
      <roleManager>
        <providers>
          <add connectionStringName="Sql" name="MyRoleProvider" type=""/>
        </providers>
      </roleManager>
    </system.web>

  <appSettings>

    <add key="thumbnailHeight" value="200" />
    <add key="thumbnailWidth" value="200" />
    <add key="MyGalleryProviderSql" value="TestProject.Content.MyGalleryProviderSql"/>
    
  </appSettings>

</configuration>