<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="thumbnailHeight" value="200" />
    <add key="thumbnailWidth" value="200" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="Sql" 
         connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=UserDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>

 

  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_GalleryService" maxReceivedMessageSize="20000000" 
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
                 
          <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="200000000"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="negometrixWsHttpBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="2147483647"
        maxBufferPoolSize="2147483647"     >
          <readerQuotas
    maxArrayLength="2147483647"
    maxBytesPerRead="2147483647"
    maxDepth="2147483647"
    maxNameTableCharCount="2147483647"
    maxStringContentLength="2147483647" />
          
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
         
          -->
    <!--defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>-->
    <!--
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          -->
    <!--<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="GalleryService.AuthorizationManager, GalleryService">
            <authorizationPolicies>
              <add policyType="GalleryService.HttpContextPrincipalPolicy, GalleryService"/>
              <add policyType="Services.HttpContextIdentityPolicy, Services"/>
            </authorizationPolicies>
          </serviceAuthorization>-->
    <!--
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="GalleryService.MyGalleryService" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="http://localhost:7219/MyGalleryService.svc" behaviorConfiguration="defaultEndpointBehavior" 
        bindingConfiguration="negometrixWsHttpBinding"
        binding="wsHttpBinding" contract="TestProject.App_Code.Interfaces.IMyGalleryProvider" />
        
      </service>-->
    <!--</services>-->
    <bindings>
      
        <wsHttpBinding>
          <binding name="negometrixWsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="0:10:00" 
                   receiveTimeout="0:10:00">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
            <security mode="None"/>
          </binding>
        </wsHttpBinding>
      
    </bindings>
    <services>
      <service name="GalleryService.MyGalleryService" behaviorConfiguration="MyServiceTypeBehaviors">
        
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="negometrixWsHttpBinding" 
                  contract="TestProject.App_Code.Interfaces.IMyGalleryProvider">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="GalleryService.AuthorizationManager, GalleryService">
            <authorizationPolicies>
              <add policyType="GalleryService.HttpContextPrincipalPolicy, GalleryService"/>
              <!--<add policyType="Services.HttpContextIdentityPolicy, Services"/>-->
            </authorizationPolicies>
          </serviceAuthorization>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
