.auto-style1 {
    width: 125px;
    text-align: right;
}

.auto-style2 {
    width: 125px;
    height: 23px;
    text-align: right;
}

.auto-style3 {
    height: 23px;
}

.auto-style4 {
    width: 267px;
}

.auto-style5 {
    height: 23px;
    width: 267px;
}
