<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="myGallery" type="TestProject.ProviderFeatureSection, MyGallery, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <connectionStrings>
    <add name="Sql" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=UserDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>

  <myGallery defaultProvider="MyGalleryWcfProvider">
    <providers>

      <add name="MyGalleryWcfProvider" type="TestProject.MyGalleryWcfProvider, MyGallery, Version=1.0.0.0, Culture=neutral" />

    </providers>
  </myGallery>

  <system.net>
    <mailSettings>

      <smtp deliveryMethod="Network">
        <network host="localhost" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.5">

    </compilation>

    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
    <membership defaultProvider="MyMembershipProvider">

      <providers>
        <add name="MyMembershipProvider" type="TestProject.App_Code.MyMembershipProvider" connectioStringName="Sql" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" requiresUniqueEmail="true" />
      </providers>
    </membership>
    <roleManager>
      <providers>
        <add connectionStringName="Sql" name="MyRoleProvider" type="" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="~/Accounts/Login.aspx" defaultUrl="~/Home.aspx" />
    </authentication>
    <authorization>

      <allow users="*" />

    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
  <appSettings>
    <add key="userConfirmationUrl" value="http://nx4508r2-14.negometrix.ltd/Accounts/Activation.aspx?ActivationCode={0}" />
    <add key="fromEMail" value="noreply@negometrix.bg" />
    <add key="MyGalleryProviderSql" value="TestProject.Content.MyGalleryProviderSql" />
    <add key="thumbnailHeight" value="200" />
    <add key="thumbnailWidth" value="200" />
  </appSettings>

  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

  </system.webServer>

  <system.serviceModel>

    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" 
                               multipleSiteBindingsEnabled="true" />
    
    <bindings>
      <basicHttpBinding>
        
        <binding name="BasicHttpBinding_GalleryService"
                 maxBufferPoolSize="20000000"
                 maxBufferSize="20000000"
                 maxReceivedMessageSize="20000000">
          
          <readerQuotas maxDepth="32"
                        maxStringContentLength="200000000"
                        maxArrayLength="200000000"
                        maxBytesPerRead="200000000"
                        maxNameTableCharCount="200000000" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMyGalleryProvider" 
                 maxBufferPoolSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:7219/MyGalleryService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMyGalleryProvider" 
                contract="GalleryServiceReference.IMyGalleryProvider"
                name="BasicHttpBinding_IMyGalleryProvider" />
    </client>

  </system.serviceModel>

</configuration>